<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://pro-app-qn.fir.im/dd3bb43198cd025338a59a5a5c767302c3f224c9?attname=sg%20(2).ipa_1.0.0.ipa&e=1510635557&token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:UUyTSHQrImJCcgxZRAqx_3mhwig=</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.PuErMJ</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>三公-撑船</string>
				<key>title</key>
				<string>三公-撑船</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
